.dropdown {
  position: relative;
}

.dropdown:hover .content {
  display: block;
}

.dropdown .content {
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 999;
  background-color: #062135;
  color: white;
  padding: 5px 10px;
  width: 200%;
}

.dropdown .content ul {
  display: flex;
  flex-direction: column;
}

.dropdown .content ul li {
  margin: 5px 5px;
}
