.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 14px;
  min-height: fit-content;
  padding: 10px;
}

.navbar .nav-logo {
  height: fit-content;
  width: fit-content;
}

.navbar .right-side {
  margin: auto 10px;
  display: flex;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 5px;
  cursor: pointer;
  display: flex;
}

.navbar .right-side .social-icons {
  margin: 0;
}

.navbar .right-side .nav-links {
  margin: 0;
}

.navbar .right-side .nav-links ul {
  margin-right: 0;
  padding-right: 0;
}
